<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- Android 11+: precisa declarar que vamos procurar reconhecimento de voz e síntese de fala. -->
    <queries>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <!-- usesCleartextTraffic: o backend FastAPI de desenvolvimento roda em http:// na rede local.
         Em produção, use https:// e remova isto. -->
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AEGIS"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.heroes.HeroDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.heroes.CompareActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.arsenal.ArmorDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.missions.MissionDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".widget.TargetWidgetProvider"
            android:exported="true"
            android:label="@string/widget_header">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_target_info" />
        </receiver>
    </application>

</manifest>
